.bar{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 50px;
    z-index: 10;
}

.input-container{
    background-color: rgba(255,255,255,0.2);
    width: 100%;
}

input,button{
    background-color: transparent;
    border: none;
    width: 90%;
}

.buttonBar{
    width: 60px;
}